@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  background: theme('colors.gray.900');
  color: theme('colors.white');
}

body {
  min-height: 100vh;
}
